<div class="issue">
  <p class="no-top-margin">Nr. 2 - <strong><em>Locuințele sociale: de la nevoie la drept</em></strong>
    (<a href="{{ site.url }}/assets/files/strada/issue_02/dreptul_la_oras_strada_issue_02.pdf" target="_blank" title="downloadați revista în format PDF">download .pdf</a>)
  </p>
  <a href="{{ site.url }}/assets/files/strada/issue_02/dreptul_la_oras_strada_issue_02.pdf" target="_blank" title="downloadați revista în format PDF">
    <img src="{{ site.url }}{{ site.path_img }}/strada/issue_02/strada_02_title.png">
  </a>
  <a href="{{{ site.url }}/assets/files/strada/issue_02/dreptul_la_oras_strada_issue_02.pdf" target="_blank" title="downloadați revista în format PDF">
    <img src="{{ site.url }}{{ site.path_img }}/strada/issue_02/strada_02_cover.jpg">
  </a>
</div>
