<div class="footer">
    <div class="footer_wrap">

        <div class="footer_logo_wrap ">
            <div><img src="{{ site.url }}/{{ site.path_logos }}/do_logo_red_on_zclear.png" class="footer_logo"></div>
            <div><p>Dreptul la Oraș</p></div>
        </div>
        <p class=".bottom_margin">Contact:</p>
        <p>dreptul.la.oras@gmail.com</p>

        <div class="footer-media-logos-wrap">
            <div>
                <a href="https://facebook.com/dreptullaorasTM" target="_blank">
                    <img src="{{ site.url }}/assets/img/media_logos/facebook_ico.png" class="footer-media-logo">
                </a>
            </div>
            <div>
                <a href="{{ site.url }}/feed.xml" target="_blank">
                    <img src="{{ site.url }}/assets/img/media_logos/rss_ico.png" class="footer-media-logo">
                </a>
            </div>
        </div>
    </div>
</div>