<div class="footer">
    <div class="footer-wrap">

        <div class="footer-item footer-name">
            <p>Dreptul la Oraș</p>
        </div>

        <div class="footer-item footer-sep">
            <p>|</p>
        </div>


        <div class="footer-item footer-contact">
            <p><em>Contact:</em> dreptul.la.oras@gmail.com</p>
        </div>

        <div class="footer-item footer-sep">
            <p>|</p>
        </div>

        <div class="footer-item footer-social-media">
            <a href="https://facebook.com/dreptullaorasTM" target="_blank">
                <img class="footer-social-media-logo" src="{{ site.url }}/assets/img/media_logos/facebook_ico.png">
            </a>

            <a href="{{ site.url }}/feed.xml" target="_blank">
                <img class="footer-social-media-logo" src="{{ site.url }}/assets/img/media_logos/rss_ico.png">
            </a>
        </div>
    </div>

</div>
