<div id="floatingHeader">
    <div>
        <a href="{{ site.url }}">
            <img src="{{ site.url }}/{{ site.path_logos }}/do_logo_red_on_zclear.png" id="floatingHeader_Logo">
        </a>
    </div>

    <div id ="floatingHeader_List">
        <ul>
            <li><a href="{{ site.url }}/essay.html">esee</a></li>
            <li><a href="{{ site.url }}/strada.html">revista Strada</a></li>
            <li><a href="{{ site.url }}/about.html">despre noi</a></li>
        </ul>
    </div>
</div>