<div class="latest-reading-group">
  <h1>Cercul de lectură "dreptul la oraș"</h1>
  <div class="latest-reading-group-info">
    <div class="latest-reading-group-info-title">Următoarea întâlnire (#5):</div>
    <div class="latest-reading-group-info-content">Vineri, 25 mai ora 18:00</div>
  </div>

  <div class="latest-reading-group-info">
    <div class="latest-reading-group-info-title">Locație:</div>
    <div class="latest-reading-group-info-content"> Departamentul de Geografie, Universitatea de Vest Timișoara, etajul 1, sala A13</div>
  </div>

  <div class="latest-reading-group-info">
    <div class="latest-reading-group-info-title">De citit:</div>
    <div class="latest-reading-group-info-content">
      Capitolul 5 din <a href="http://libgen.io/search.php?req=The+Right+to+the+City+Don+Mitchell&lg_topic=libgen&open=0&view=simple&res=25&phrase=1&column=def">"The Right to the City"</a>
      de Don Mitchell
    </div>
  </div>

<a href="https://www.facebook.com/events/176998079604688/">
  <img src="{{ site.url }}{{ site.path_img }}/reading_group/reading_group_latest.png">
</a>
</div>
