.about {
}

.about h1 {
    font-size: var(--font-title-standalone);
    text-align: center;
}

.banner-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-img {
    width:100%;
    max-width:var(--max-width-content-wide);
}
