:root {
    /*should be used in any sticky elements like headers, and footers, floating margins, etc*/
    --font-sticky: 16px;

    /*the vast majority of content uses this font*/
    --font_normal: 18px;

    --font-title-standalone: 40px;
    --font-subtitle-standalone: 28px;

    /*in case you have floating elements on the page, and you need this distinction*/
    --font-title-embedded: 24px;
    --font-subtitle-embedded: 20px;

    --red: #AA2323;

    --header-height: 40px;
    --header-height-double: 80px;

    --footer-height: 40px;
    --footer-height-double: 80px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 0 0;
}

@media (max-width: 450px) {
    .content-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        padding-top: var(--header-height-double); /*same as header height*/
        padding-bottom: var(--footer-height); /*same as header height*/
    }
}

@media (min-width: 450px) {
    .content-box {
        min-width: 400px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        padding-top: var(--header-height); /*same as header height*/
        padding-bottom: var(--footer-height); /*same as header height*/
    }
}

.content-commons {
    font-family: "Antwerp", 'Times New Roman', Times, serif;
    font-size: var(--font_normal);
}

.content {

}
