html {
    position: relative;
    min-height: 100%;
}

@media (max-width: 400px) {
    .content-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        padding-top: 8.2vmax; /*same as header height*/
        padding-bottom: 15vh; /*same as header height*/
    }
}

@media (min-width: 400px) {
    .content-box {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        padding-top: 4.1vmax; /*same as header height*/
        padding-bottom: 15vh; /*same as header height*/
    }
}

.content-commons {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.6vmax;
}

.content {

}

