main {
    padding: 20px;
    padding-top: 60px; /*same as header height*/
    margin: 0 auto;
    bottom: 5px;
    width: 70%;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;

}

