@media (max-width: 450px) {
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;

        font-size: var(--font-sticky);

        height: var(--footer-height-double);
        width: 100%;

        color: white;
    }
}

@media (min-width: 450px) {
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000000;

        font-size: var(--font-sticky);

        height: var(--footer-height);
        width: 100%;

        color: white;
    }
}

@media (max-width: 450px) {
    .footer-wrap {
        display: flex;
        height: var(--footer-height-double);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 450px) {
    .footer-wrap {
        display: flex;
        min-width: 400px;
        max-width: 800px;
        height: var(--footer-height);
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-wrap div {

}

.footer-name {
    font-weight: bold;
}

.footer-contact {

}
.footer-contact em {
    font-style: normal;
    font-weight: bold;
}

.footer-social-media {
    padding-top: 6px;

}

.footer-social-media-logo {
    max-height: calc(var(--header-height) - 12px);
}

.footer-sep {
    padding-right: 5px;
    padding-left: 5px;

}
