@media (max-width: 420px) {
    .floating-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: #000000;
        height: var(--header-height-double);
        width: 100%;
        float: left;

        font-size: var(--font-sticky);
    }
}

@media (min-width: 420px) {
    .floating-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: #000000;
        height: var(--header-height);
        width: 100%;
        float: left;

        font-size: var(--font-sticky);
    }
}

@media (max-width: 420px) {
    .floating-header-wrap {
        float: right;
    }
}

@media (min-width: 420px) {
    .floating-header-wrap {
        min-width: 400px;
        max-width: 800px;
        margin: auto;
    }
}

.floating-header-wrap div {
    float: left;
}

.floating-header-logo {
    max-height: calc(var(--header-height) - 4px);
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.floating-header-list {
    width: auto;
    height: auto;
    margin: auto;
    padding-left: 4px;
    padding-top: 12px;
    padding-bottom: 4px;
}

.floating-header-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.floating-header-list li {
    /*
     * this float left has to remain,
     * otherwise the list is not horizontal
     */
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4px;
    padding-left: 4px;

    color: white;
    font-weight: bold;
}

.floating-header-list li a {
    padding: 0;
    display: block;

    color: white;
    font-weight: bold;
}

.floating-header-list li a:link {
    text-decoration: none;

    color: white;
    font-weight: bold;
}

/* Applies to visited links */
.floating-header-list li a:visited {
    text-decoration: none;

    color: white;
    font-weight: bold;
}

.red-background {
    background-color: var(--red);
}

.highlightable:hover {
    background-color: var(--red);
}