.floating-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000000;
    height: 40px;
    width: 100%;
    float: left;

    font-size: 12pt;
}

@media (max-width: 400px) {
    .floating-header-wrap {
        float: right;
    }
}

@media (min-width: 400px) {
    .floating-header-wrap {
        min-width: 400px;
        max-width: 800px;
        margin: auto;
    }
}

.floating-header-wrap div {
    float: left;
}

.floating-header-logo {
    max-height: 36px;
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.floating-header-list {
    width: auto;
    height: auto;
    margin:auto;
    padding-left: 4px;
    padding-top: 12px;
    padding-bottom: 4px;
}

.floating-header-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.floating-header-list li {
    /*
     * this float left has to remain,
     * otherwise the list is not horizontal
     */
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4px;
    padding-left: 4px;
    color: white;
}

.floating-header-list li a {
    padding: 0;
    display: block;
    /*this is a cheap hack to prevent menu from not being visible on small devices*/
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

.floating-header-list li a:link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Applies to visited links */
.floating-header-list li a:visited {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.red-background {
    background-color: #AA2323;
}

.highlightable:hover {
    background-color: #AA2323;
}