/* Contains all the styling for the floating header */
#floatingHeader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000000;
    height: 2.5em;
    width: 100%;
    float: left;

    font-size: 1.6em;
    font-weight: bold;
}

#floatingHeader div {
    float: left;
}

#floatingHeader_Logo {
    height: 1.8em;
    margin: 0 auto;
    padding: 5px;
}

#floatingHeader_List {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-left: 1em;
    padding-top: 0.65em;
    padding-bottom: 0.4em;

}

#floatingHeader_List ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#floatingHeader_List li {
    /*this float left has to remain,
    otherwise the list is not horizontal*/
    float: left;
    padding-right: 0.4em;
    padding-left: 0.4em;
}

#floatingHeader_List li a {
    display: block;
    color: white;
}

#floatingHeader_List li a:hover {
    background-color: #AA2323;
}

.redBackground {
    background-color: #AA2323;
}

#floatingHeader_List li a:link {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Applies to visited links */
#floatingHeader_List li a:visited {
    text-decoration: none;
    font-weight: bold;
    color: white;
}