.post-header {
    border-bottom: 1px solid var(--gray-light-1);
}

.post-header-box {

}

.title {
    font-size: var(--font-title-standalone);
    text-align: center;
}

.description {
    color: grey;
    text-align: center;
    font-size: var(--font-subtitle-standalone);
}