.strada-title-wrap {
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid var(--gray-light-1);
}

.strada-title-wrap h1 {
    font-size: var(--font-title-standalone);
    text-align: center;
}

.strada-title-wrap h2 {
    color: grey;
    text-align: center;
    font-size: var(--font-subtitle-standalone);
}

.issue {
    margin-top: 1vh;

    margin-bottom: 1vh;
    border-bottom: 1px solid var(--gray-light-1);
}

.issue p {
    font-size: var(--font_normal);
}

.issue img {
    max-width: 100%;
}

.no-top-margin {
    margin-top: 0;
}

