#stradaLogoContainer {
    left: 0;
    right: 0;
    top: 0;
    display: table;
    margin: 0 auto;
}

#stradaLogoContainer p {
    font-size: 1.75em;
}

#stradaLogoContainer img {
    height: 200px;
    width: auto;
}

.issue {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.issue p {
    font-size: 1.5em;
}

.issue img {
    height: 150px;
    width: auto;
}
