.latestStrada {
}

.latestStrada img {
    width: 100%;
}

.latestStrada p {
    font-size: 3vh
}

.latestStrada a {
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    margin-bottom: 5px;
}