.latest-strada {
}

.latest-strada img {
    width: 100%;
}

.latest-strada p {
    font-size: 3vmax;
    margin-top: 0;
    margin-bottom: 1vh;
}

.latest-strada a {
    border-bottom: 1px solid #ccc;
}