.writings {
    margin-top: 5vh;

}

.writings-wrap {

}

.writings-columns {
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
}

.writings-tile-form {
    display: inline-block;
    width: 190px;
    height: 600px;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
}

.writings-tile-wrap {
    padding: 8px;
    background: var(--gray-light-7);
}

.writings-tile-wrap img {
    width: 100%;
    padding-bottom: 15px;
}

.writings-tile-wrap p {
    color: var(--black);
    margin-bottom: 5px;
    border-bottom: 1px solid var(--gray-light-1);
    padding-bottom: 15px;
}

.writings-title {
    width: 100%;
    padding-bottom: 7px;
    margin-bottom: 5px;
    font-size: var(--font-title-embedded);
    font-weight: bold;
}

.writings-title a:hover {
    background-color: var(--gray-light-1);
}

.writings-title a:link {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.writings-title a:visited {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.writings-date {
    width: 100%;
    border-bottom: 1px solid var(--gray-light-1);
    padding-bottom: 7px;
    margin-bottom: 5px;
    font-size: var(--font-subtitle-embedded);
}